table, td {
    /* border: 1px solid #000; */
    padding: 2px;
    border-collapse: collapse;
}

td {
    width: 12px;
}

th {
    width: 10px;
    overflow-wrap: anywhere;
    vertical-align: bottom;
}
